*{
    margin: 0%;
    padding: 0%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}
div.result {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  padding: 20px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);


}
.myVideo {

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 4vw;

}
video{
display: flex;
    object-fit: cover;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color : white;
}